<% @posts.each do |post| %>
     <h1><%= link_to "post.title", post %></h1>
     <p><%= post.content %></p>
<% end %>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <div class="container">
  ...
</div>
    <div class="row">
  ...
</div>